* {
  text-decoration: none;
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
}


body { 

  background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png); 
  background-repeat: no-repeat;
  background-color: #C0DEED;

}

header {
  background-color: #fff;
  position: fixed;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  text-align: center;
  margin: 0px auto;
  /*top: 0px;*/
  /*background-repeat: no-repeat;*/
}

#nav_left{
  display: inline-block;
  position: relative;
  left: -10%;
  top: -5px;
  width: 450px;
}


#nav_right{
  display: inline-block;
  position: relative;
  right: -10%;
  top: -5px;
  width: 450px;
}

#home{
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
  font-size: 16px;
  width: 60px;
  /*text-decoration: none;*/
}

#notification {
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
  font-size: 16px;
  width: 60px;
  /*text-decoration: none;*/
}

#discover {
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
  font-size: 16px;
  width: 90px;
  /*text-decoration: none;*/
}

#me {
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
  font-size: 16px;
  width: 90px;
  /*text-decoration: none;*/
}

nav a img {
  position: relative;
  top: 6px;
}

nav a {
  height: 60px;
  padding: 3px;
  position: relative;
  font-size: 1.1em;
  color: #66757f;
}

 a:hover {
  position: relative;
  padding-bottom: 13px;
  background:  url('../images/nav_hover.png');
  background-position: center bottom;
  background-repeat: repeat-x;
}

 a:focus {
  position: relative;
  padding-bottom: 13px;
  background:  url('../images/nav_hover.png');
  background-position: center bottom;
  background-repeat: repeat-x;
}

form {
  position: relative;
  width: 200px;
  display: inline-block;
}

#search_button {
  cursor: pointer;
  top: 8px;
  right: -148px;
  position: relative;
  border: none;
  height: 32px;
  width: 8%;
  background: url('../images/search.png') ;
  background-position: center center;
  background-repeat: no-repeat;
  font: Gotham Narrow SSm, Helvetica Neue, Helvetica, Sans Serif, Arial;
  
  /*width: 900px;*/

  /*position: absolute;
  right: 18%;
  outline: 0;
  display: inline-block;*/
}

#nav_right input {
  display: inline-block;
  position: relative;
  top: 7px;
  font-weight: lighter;
  font-size: 1.2em;
  color: white;
  border-radius: 40px 40px 40px 40px;
  border: none;
  background-color: #a3acb2;
  padding-left: 8px;
  height: 30px;
  width: 140px;
}

#nav_right input:focus{
  outline: 0;
  background-color: #66757f;
}

::-webkit-input-placeholder {
   color: #d8dbde;
   font-size: 0.8em
}


/*
#user_information {
  position: relative;
  top: 30px;
  width: 295px;
  height: 293px;
  float: left;
  background-color: white;
  border-radius:6px;
}

#tweet{
  margin: 20px;
  width: 200px;
  float: left;
}
*/